@model btl_web_coffeeshop.Utilities.PagedList<btl_web_coffeeshop.Models.Product>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @if (item.Category != null)
                    {
                        @item.Category.Name
                    }
                    else
                    {
                        @:Chưa có danh mục
                    }
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @if (Model.TotalPages > 1)
    {
        // Previous Button
        <button class="btn btn-secondary @(Model.PageIndex == 1 ? "disabled" : "")"
                onclick="@(Model.PageIndex > 1 ? "loadPage(" + (Model.PageIndex - 1) + ")" : "")">
            Previous
        </button>

        // Page Number Links
        for (int i = 1; i <= Model.TotalPages; i++)
        {
            <button class="@(i == Model.PageIndex ? "btn btn-primary" : "btn btn-light")"
                    onclick="loadPage(@i)">
                @i
            </button>
        }

        // Next Button
        <button class="btn btn-secondary @(Model.PageIndex == Model.TotalPages ? "disabled" : "")"
                onclick="@(Model.PageIndex < Model.TotalPages ? "loadPage(" + (Model.PageIndex + 1) + ")" : "")">
            Next
        </button>
    }
</div>
